/*****************************************************************************
    navigation left: activate 'about'
*/
#nav-left-about,
#nav-left-about .outer {
    border-color: var(--navSideColor);
    opacity: var(--navSideHoverOpacity);
}

/****************************************************************************/
#about-1 h1 {
    padding-left: 25%;
    padding: 10% 25%;
}
#about-1 div {
    margin: 0 6.5%;
    height: 100vh;
    background: url(../img/section-about-1.jpg) center/cover no-repeat;
}

/****************************************************************************/
#about-2 {
    display: flex;
    align-items: center;
}
#about-2 > div {
    padding: 10% 0;
    min-height: 40vh;
}
#about-2 > div:first-of-type {
    width: 100%;
    padding-left: 15%;
}
#about-2 > div:last-of-type {
    padding: 0 10% 0 5%;
}
#about-2 img {
    width: 100%;
}
#about-2 h1 {
    margin-bottom: 1em;
}
#about-2 p {
    font-size: 1.1em;
    line-height: 1.8;
    margin-bottom: 1em;
}

/****************************************************************************/
