/*****************************************************************************
    navigation left: no button activated, top navigation used
*/

/****************************************************************************/
#contact {
    padding: 8% 10% 0 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
fieldset {
    border: 1px solid var(--shop-button-bg);
    width: 30vw;
    height: 65vh;
}

#contact h1 {
    text-align: left;
}
