/*****************************************************************************
    navigation left: no button activated, top navigation used
*/

/****************************************************************************/
#contact {
    padding: 8% 10% 0 20%;
    display: flex;
    justify-content: space-between;
}
#contact > form {
}
fieldset {
    width: 30vw;
    height: 65vh;
}

#contact h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}
#contact p {
}
