/*****************************************************************************
    navigation left: activate 'inspiration'
*/
#nav-left-inspiration,
#nav-left-inspiration .outer {
    border-color: var(--navSideColor);
    opacity: var(--navSideHoverOpacity);
}

#inspiration {
    padding-bottom: 5%;
}
#inspiration h1 {
    font-size: 2.5em;
}

video {
    margin: 10% 20% 0;
    width: 60%;
}

.text-buttons h1 {
    padding-bottom: 0.3em;
}
.text-buttons h2 {
    font-weight: normal;
    padding-bottom: 0.5em;
}
.text-buttons p {
    font-weight: normal;
    margin-top: 1rem;
    line-height: 0;
}

.text-buttons a {
    padding: 0.5em 0;
    font-size: 0.8rem;
    display: inline-block;
    width: 5rem;
    text-align: center;
    color: var(--textColor);
    border: 2px solid var(--navTopHoverColor);
    border-radius: 3px;
}
.text-buttons a:hover {
    text-decoration: none;
    color: var(--textColor);
}

/* #inspiration > div:first-of-type {
    margin: 10% 20%;
} */
.text-buttons {
    margin: 10% 20%;
}

.text-image {
    margin: 0 10% 0 20%;
    display: flex;
    align-items: center;
}
.text-image div {
    width: 50%;
}

.text-image h1,
.text-image h2,
.text-image p {
    padding: 2.5% 5%;
}

.text-image > div img {
    width: 100%;
}

.text-buttons a {
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 0.5em 0;
    font-size: 0.8rem;
    display: inline-block;
    width: 5rem;
    text-align: center;
    color: var(--textColor);
    border: 2px solid var(--navTopHoverColor);
    border-radius: 3px;
}
.text-buttons a:hover {
    text-decoration: none;
    color: var(--textColor);
}
