/*****************************************************************************
    navigation left: activate 'lounger'
*/
#nav-left-lounger,
#nav-left-lounger .outer {
    border-color: var(--navSideColor);
    opacity: var(--navSideHoverOpacity);
}

/****************************************************************************/

#lounger {
    display: flex;
    align-items: center;
}
#lounger > div {
    width: 45%;
}

#lounger div:first-of-type {
    background: url(../img/section-voyager.jpg) center/cover no-repeat;
    width: 55%;
    height: 100vh;
}

#lounger h1 {
    padding: 8% 5%;
    margin-bottom: 1em;
}
#lounger p {
    padding: 0% 15% 0 5%;
    font-size: 1.2em;
    line-height: 1.8;
    margin-bottom: 1em;
}
